@model EditParkingSpotViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ParkingSpot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <select asp-for="Size" class="form-control" asp-items="Model.Sizes">
                </select>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingNumber" class="control-label"></label>
                <input asp-for="ParkingNumber" class="form-control" />
                <span asp-validation-for="ParkingNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="HourRate" class="control-label"></label>
                <input asp-for="HourRate" class="form-control" />
                <span asp-validation-for="HourRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegNumber" class="control-label"></label>
                <select asp-for="RegNumber" class="form-control" asp-items="@(ViewData["RegNumber"] as SelectList)">
                    <option value="">Select Vehicle</option>
                </select>
                <span asp-validation-for="RegNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexParkingPlace">Back to List</a>
</div>


@await Html.PartialAsync("_AlertMessages")

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
